body{
    background-image: url('/pexels-pixabay-210182.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(41, 175, 175);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
#question{
    display: inline-block;
}
#submit{
    font-size: 25px;
    margin-left:95px;
    padding: 0 15px;
    border-radius: 5px;
    border: 2px solid rgb(153, 66, 7);
    background-color: rgb(177, 100, 1);
    color:rgb(196, 196, 250);
    
   
}
#submit:hover{
    background-color: rgb(212, 96, 2);
    border: 2px solid rgb(0, 0, 0);
    color:black;
    cursor: pointer;
}
#miles{
    margin: 15px;
    margin-left: 75px;
    padding: 10px 30px;
    font-size: 25px;
    background-color: rgb(255, 126, 5);
    color:rgb(5, 0, 77);
    border: 3px solid rgb(184, 138, 52);
    border-radius: 5px;
    
   
}
#miles:hover{
    background-color: rgb(185, 91, 3);
    color: black;
    
}
h1, h2{
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    background-color: rgba(255, 123, 0, 0.589);
    border-radius: 5px ;
    display: inline-block;
    margin: 15px;
   
}

.numbers{
    background-color:rgba(253, 113, 19, 0.726); 
    color:rgba(221, 209, 200, 0.726);
}
.numbers:hover{
    background-color: rgba(253, 113, 19, 0.726);
    color: black;
}
th,tr,td{
    border: 2px solid black;
    padding: 30px;
}
table{
  margin-left: 15px;  
  color:rgb(240, 240, 240);
  background-color: rgba(255, 123, 0, 0.116);
}
